<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12428663-11']);
      _gaq.push(['_setDomainName', 'herokuapp.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

  <a href="https://github.com/alaingilbert/khet-real-time"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Khet</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span2">
        <button id="btnSilver" class="btn btn-large btn-block" type="button">Sit as Silver</button>
        <button id="btnRed" class="btn btn-large btn-block" type="button">Sit as Red</button>
        <button id="btnStart" class="btn btn-large btn-block disabled" type="button">Start Game</button>
        <br />
        By: <a href="http://twitter.com/alain_gilbert/" target="_blank">@alain_gilbert</a>
      </div>
      <div class="span10">
        <canvas id="canvas" width="800" height="600"></canvas>
      </div>
    </div>
  </div>
  <script src="/javascripts/compiled.js"></script>
  <script>bootstrap('<%= room %>');</script>

  </body>
</html>
